<div class="filters">
    <p>Filters</p>
    <div class="year-text">
        <span>Launch Year</span>
    </div>
    <div class="launch-year">

        <ul class="year">
            <li *ngFor="let year of launchYears">
                <input type="radio" id="{{year}}" (click)="applyYear(year)" name="year"/>
                <label for="{{year}}">{{year}}</label>
            </li>
        </ul>


    </div>
    <div class="year-text">
        <span>Successful Launch</span>
        <ul class="year">
            <li>
              
                <input type="radio" id="true" (click)="applySuccessFulLaunch(true)" name="launch"/>
                <label for="true">True</label>
            </li>
            <li>
                <input type="radio" id="false" (click)="applySuccessFulLaunch(false)" name="launch"/>
                <label for="false">False</label>
            </li>
        </ul>


    </div>
    <div class="year-text">
        <span>Successful Landing</span>
        <ul class="year">
            <li>
                <input type="radio" id="land-true" (click)="applySuccessFulLand(true)" name="land"/>
                <label for="land-true">True</label>
            </li>
            <li>
                <input type="radio" id="land-false" (click)="applySuccessFulLand(false)" name="land"/>
                <label for="land-false">False</label>
            </li>
        </ul>


    </div>
</div>