<div class="header">
  <h3>SpaceX Launch Programs</h3>
</div>
<div class="row">
  <div class="col-s-2 col-2">
    <app-filters (filterSelected)="onFilterSelected($event)"></app-filters>
  </div>

  <div class="col-s-10 col-10">
    <div class="row">
      <ng-container *ngFor="let tile of tiles">
        <app-tiles [tileContent]="tile"></app-tiles>
      </ng-container>
    </div>
    
  </div>
</div>

<div class="footer">
  <p><span class="developed-by">Developed By :</span> Sudhasnhu Chaubey</p>
</div>
<router-outlet></router-outlet>